<h2>Lista do Firebase</h2>
<hr />

Nome
<div><input type="text" [(ngModel)]="nome" /></div>

<div>Idade:</div>
<div><input type="number" [(ngModel)]="idade" /></div>

<br />

<button (click)="addItem()">Adicionar</button>
<hr />

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let item of list | async">
    <td [title]="['chave: ' + item.key]">{{ item.nome }}</td>
    <td>{{ item.idade }}</td>
    <td>{{ item.email }}</td>
    <td>
      <button (click)="deleteItem(item.key)" style="color: red">Remover</button>
    </td>
  </tr>
</table>
